.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/*  ClearFix  */
/*  The ClearFix by Tony Aslett and Nicholas Gallagher */
.group:before,
.group:after {
content: "";
display: table; }

.group:after {
clear: both; }

.group {
zoom: 1;
/* IE6&7 */ }