



.savedBooks {
width:100%;
margin:auto;
padding:20px;
width:95%;
margin:auto;
padding-bottom:280px;
}

.savedBookInfo {
   
}

.savedBookInfo h2 {
    font-size:30px;
    font-weight: 700;
}
.savedBookImage {
    width:100%;

    text-align: center;
}
.savedBookImage img {
    width:280px;
}

.infoMessage {
    font-size:24px;
    color:white;
}

.sortButton {
    padding:9px;
    background-color:rgb(0, 157, 255);
    text-transform: uppercase;
    border-radius:4px;
    display:inline-block;
    float:left;
    margin-right:12px;
    font-weight: 600;
    padding-left:16px;
    padding-right:16px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
}

.sortButton:hover {
    background-color:rgb(0, 121, 213);
}

.sortButton:active {
    background-color:black;
    color:white;
    box-shadow:0 0 8px rgb(84, 161, 255);
}

.sortActive {
    background-color:rgb(143, 206, 245);
}
.sortTitle {
    display:inline-block;
    float:left;
    margin-right:10px;
    font-weight: 700;
    color:white;
    position: relative;
    top:-12px;
    font-size:20px;
}

.myDown {
    padding:0;
    margin:0;
    line-height:0;
    position: relative;
    top:10px;
    font-size:30px;
}
@media only screen and (min-width: 767px) { 

    .savedBooks {
        width:80%;
    }

        .savedBookImage {
            display:inline-block;
            float:left;
            width:30%;
        }
        .savedBookImage img {
            width:70%;
        }

        .savedBookInfo {
            width:70%;
            float:left;
            display:inline-block;
        }

} 