



.savedBooks {
width:100%;
margin:auto;
padding:20px;
width:95%;
margin:auto;
padding-bottom:280px;
}

.savedBookInfo {
   
}

.savedBookInfo h2 {
    font-size:30px;
    font-weight: 700;
}
.savedBookImage {
    width:100%;

    text-align: center;
}
.savedBookImage img {
    width:280px;
}

.infoMessage {
    font-size:24px;
    color:white;
}

@media only screen and (min-width: 767px) { 

    .savedBooks {
        width:80%;
    }

        .savedBookImage {
            display:inline-block;
            float:left;
            width:30%;
        }
        .savedBookImage img {
            width:70%;
        }

        .savedBookInfo {
            width:70%;
            float:left;
            display:inline-block;
        }

} 