.gNavBar {
    background-color:rgb(0, 157, 255);
    color:white;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow:0 4px 14px black;
}

.logo {
    padding-left:20px;
    color:white;
    font-weight: 900;
    padding-top:20px;
    box-sizing: border-box;
    font-size:24px;
    display:block;
    padding-right:20px;
    padding-bottom:18px;
}

.logo:hover {
    color:rgb(0, 40, 101);
}
.navlinks {
    margin:0;
    display:block;
    text-align:center;
    box-sizing: border-box;
    height:70px;
 
    padding:0;
}

.navLinker {
    margin:0;
    display:inline-block;
    line-height:1em;
    font-weight: 900;
    color:white;
    background-color:rgba(32, 57, 112,.5);
    width:50%;
    box-sizing: border-box;
    padding:30px;
}

.navLinker:hover {
    background-color:rgb(17, 41, 96);
    
}



@media only screen and (min-width: 767px) {

    .logo {
        display:inline-block;
        float:left;

    }

    .navlinks {
        display:inline-block;
        float:right;
        width:450px;
    }

    .navLinker {
        border-radius:4px;
        border:2px solid rgb(26, 44, 82);
        padding:24px;
        margin-top:4px;
        width:48%;
        margin-right:4px;
    }
}


.navActive {
    background-color:red;
    background-color:rgb(16, 28, 56);
}