

.resultsDiv {
    width:95%;
    margin:auto;
    padding-bottom:180px;
}

.waiting {
    width:100%;
    box-sizing: border-box;
    text-align: center;
}

.waiting img {
    height: 160px;
    width:480px;
}

