

.resultsDiv {
    width:95%;
    margin:auto;
    padding-bottom:180px;
}

.waiting {
    width:100%;
    box-sizing: border-box;
    text-align: center;
    transition: all .25s;
    opacity:1;
    height:110px;
}

.done {
    opacity:0;
    height:0;
}
.waiting img {
    height: 160px;
    width:680px;
    max-width:100%;
}


.noresults {
    text-align: center;
    color:white;
    font-size:1.5em;
}