.searchCard {
    background-color:#1976d2;
    background-color:#1565c0;
    background-color:rgba(0, 0, 255,0);
    border-radius:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-top:10px;
    user-select: none;
    letter-spacing: -.08em;
    width:95%;
    margin:auto;
    margin-top:100px;
    text-shadow: none;
    box-shadow:none;
}

.inputDiv {


}

input.gbSearch {
    box-sizing: border-box;
    background-color:rgba(255,255,255,.25);
    border-radius:30px;
    border:2px solid rgba(255,255,255,.2);
    padding-left:60px;
    font-size:30px;
    padding-top:12px;
    padding-bottom:12px;
    height:60px;
    position: relative;
    vertical-align: top;
    width:400px;
    transition: all .5s;
    cursor: pointer;
}

input.gbSearch:hover {
    border:2px solid rgba(255,255,255,.5);
}
input.gbSearch:focus {
    background-color:white;
    border:2px solid rgba(255,255,255,1);
    width:450px;
}

.mGlass {
    position: relative;
    top:-54px;
    left:18px;
    font-size:32px;
    color:black;
}

.myCloser {
    position: relative;
    right:20px;
    font-size:30px;
    top: -50px;
    float:right;
    font-weight: 700;
    color:rgba(0, 0, 0, 0);
   
    cursor: pointer;
}

.myCloser:hover {
    color:black;
}
.startSearch {
    padding:20px;
    border:none;
    border-radius:30px;
    background-color:rgb(0, 59, 147);
    color:white;
    text-transform:uppercase;
    width:20%;
    box-sizing: border-box;
    height:60px;
    padding:10px;
    font-size:20px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    min-width:190px;
    margin-top:0;
    /* box-shadow:0 0 8px rgb(4, 26, 97); */
}

.startSearch:hover {
    background-color:rgb(0, 59, 147);
    background-color:rgb(16, 28, 56);

}

.myInputField {
    display:inline-block;
    float:left;
    box-sizing: border-box;
    height:76px;
    overflow: hidden;
    margin-right:24px;

}


.startSearch:visited, .startSearch:active, .startSearch:focus {
    background-color:rgb(0, 59, 147);
}



@media only screen and (min-width: 800px) {
  

        .searchCard {
            margin-top:160px;
        }

        input.gbSearch {
            width:500px;
        }

        input.gbSearch:focus {
            background-color:white;
            border:2px solid rgba(255,255,255,1);
            width:600px;
        }
    
}